@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li, a, button{
    font-family: 'Aldrich', sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: white;
}

header{
    background-color: #111a28;
    padding: 25px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 55px;
    cursor: pointer;
    margin-right: auto;
}

.nav_link{
    list-style: none;
}

.nav_link li{
    display: inline-block;
    padding: 0 25px;
}

.nav_link li a{
    transition: all 0.3s ease;
}

.nav_link li a:hover{
    color: red;
}

button{
    background: transparent;
    transition: all 0.3s ease;
    border: 2px solid #00cf5d;
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 25px;
}

button:hover{
    background: #00cf5d;
}